nav {
  display: flex;
  justify-content: space-between;
  min-height: 5vh;
  align-items: center;
  padding: 5px 20px;
  font-weight: 200;
  color:white
}
nav h1{
  font-weight: 300;
  font-size: 30px;
}
.header{
  background-color: #075E54;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.nav-right i{
  float:left;
  margin-left:30px;
}
.active{
 border-bottom: 3px solid white;
 color: white !important
}
.controls{
  position: -webkit-sticky;
  width: 100%;
  
  overflow: hidden;
  margin-bottom: 2px;
 
}
.controls a{
  text-decoration: none;
  color: rgb(196, 196, 196)

}
.controls h5{
  font-weight: 300;
  font-size: 17px
}
.item{
  background-color: white;
  border-bottom: 1px solid grey;
}
.person img{
  border-radius: 50%
}
