nav {
  display: flex;
  justify-content: space-between;
  min-height: 5vh;
  align-items: center;
  padding: 5px 20px;
  font-weight: 200;
  color:white
}
nav h1{
  font-weight: 300;
  font-size: 30px;
}
.header{
  background-color: #075E54;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.nav-right i{
  margin-left:30px;
}
.active{
 border-bottom: 3px solid white;
 color: white !important
}
.controls{
  width: 100%;
  
  overflow: hidden;
  margin-bottom: 2px;
 
}
.controls a{
  text-decoration: none;
  color: rgb(196, 196, 196)

}
.controls h5{
  font-weight: 300;
  font-size: 17px
}
.item{
  background-color: white;
  
}
.person img{
  border-radius: 50%
}
.name h6{
  font-weight: 300
}
.name p{
  font-weight: 200;
  color: rgb(153, 152, 152)
}
.time p{
  font-weight: 200;
  color: rgb(170, 166, 166)
}
.count{
  color: white !important
}
.chat-right{
  display: flex;
  justify-content: space-between !important;
  width: 100%;
  border-bottom: 0.05px solid rgb(218, 216, 216);
}
